body {
    font-family: sans-serif;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
}
.header {
    background-image: url("./assets/Hero-bg.png");
    height: 90vh;
    text-align: center;
    padding: 150px 0px;

}
.button-1 {
    height: fit-content;
    padding: 9px;
    border-radius: 9px;
    color: black;
    background: white;
    border: 2 px solid rgb(185, 185, 185);

}
.button_2 {
    padding: 20px 43px;
    font-size: 27px;
    border-radius: 15px;
    background: black;
    color: white;
}
.contact{
    color: white;
    text-decoration: none;

}
.header h1 {
    font-size: 400%;
    padding-left: 10%;
    padding-right: 10%;
    
}
p {

    font-size: 20px;
    color: rgb(92, 92, 97);
}
h1 {
    font-size: 50px;
   
}

h2 {
    font-size: 40px;
    margin: 0;
}
h3 {
    font-size: 30px;
}
section {
    padding: 10px 150px;
}
.box {

    background-color: rgba(13, 19, 33, 0.02);
    padding-bottom: 34px;
}
.Development {
    text-align: center;
    padding: 50px 10px;
    margin-top: 100px;
}
.section_1 {
    display: flex;
    padding: 18px 56px;
    justify-content: space-around;
    background-color: white;
    margin: 20px 89px;
    border-radius: 9px;
}




